In [1]:
import os 
datapath = os.path.join("Data/")

In [2]:
import pandas as pd 

fraud_data_df = pd.read_csv(datapath +"1_Fraud_Data.csv")

In [3]:
fraud_data_df.head(2)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0

In [4]:
fraud_data_df["class"].value_counts()

0    136961
1     14151
Name: class, dtype: int64